

.centered-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.main-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}